<h1>Welcome to grumblr</h1>
<h2>Share your opinions with the world no matter how insane</h2>
<h1>Sign up</h1>

<%= form_with(model: @user, local: true) do |f| %>

<div class="form-group">
  <%= f.label :username %> <br>
  <%= f.text_field :username %> <br> <br>
</div>

<div class="form-group">
  <%= f.label :password %> <br>
  <%= f.password_field :password %> <br> <br>
</div>

<div class="form-group">
  <%= f.submit "Sign up"%>
</div>
<% end %>
