<% @posts.last(10).reverse_each do |post| %>
  <div class="post-box">
    <%= link_to post.title, post %>
    <br>
    posted by: <%= link_to post.user.username, user_path(post.user) %>
    <br>
    Posted on: <%= post.created_at.localtime.strftime("%B %d, %Y %I:%M:%S %p") %>
    <br>
      <%= 'No Comments yet' if post.comments.empty? %>

    <ul>
      <% post.comments.last(3).reverse.each do |comment| %>
      <li><%= comment.text %> <%= link_to "Delete", @comment, method: 'delete', local: true %> </li>
      <% end %>
    </ul>
 </div>


<% end %>
</ul>
