<h1>Post Title: <%= @post.title %></h1>
<h3>Post Id: <%= @post.id %></h3>
<%= @post.content %>

<ul>
  <%= 'No Comments yet' if @post.comments.empty? %>

  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.text %> by:
      <%= comment.user.username %>
      <%= comment.created_at.localtime.strftime("%B %d, %Y %I:%M:%S %p") %>
    </li>
  <% end %>
</ul>
#TODO - add a commment
<br>
<button type="button" name="button" >Comment</button>

<br>
<%= link_to 'Back to posts', posts_path %>


<!-- link_to book.title, author_book_path(@author, book)  -->
