<h1><%= @post.user.username %>'s Posts</h1>

<h3>Post Title: <%= @post.title %></h3>
 <br>
<%= @post.content %>


<ul>
  <%= 'No Comments yet' if @post.comments.empty? %>

  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.text %> by:
      <%= comment.user.username %>
      <%= comment.created_at.localtime.strftime("%B %d, %Y %I:%M:%S %p") %>
    </li>
    <% if @post.user.id == @current_user.id %>
    --
    <%= link_to 'Delete comment', @comment, method: 'delete', local: true %>
    <% end %>
  <% end %>
</ul>
<%= link_to 'Back to posts', posts_path %>
<% if @post.user.id == @current_user.id %>
--
<%= link_to 'Delete post', @post, method: 'delete', local: true %>
<% end %>


  <h3>Add a comment</h3>
  <div class='form-group'>
  <%= form_with(model: Comment.new, local: true) do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= hidden_field_tag :user_id, @post.user_id %>
    <%= f.label :text %>
    <br>
    <%= f.text_field :text %>
    <br>

    <%= f.submit %>
  <% end %>
  </div>
