<h1>Post Title: <%= @post.title %></h1>
<h3>Post Id: <%= @post.id %></h3>
<%= @post.content %>

<ul>
  <%= 'No Comments yet' if @post.comments.empty? %>

  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.name %> by: #TODO

    </li>
  <% end %>
</ul>



<%= link_to 'Back', @post.user %>


<!-- link_to book.title, author_book_path(@author, book)  -->
