<h1>Post: <%= @post.title %></h1>

<%= @post.content %>

<ul>
  <%= 'No Comments yet' if @post.comments.empty? %>

  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.name %>
    </li>
  <% end %>
</ul>



<%= link_to 'Back', @post.user %>


<!-- link_to book.title, author_book_path(@author, book)  -->
