<h1>Post Title: <%= @post.title %></h1>
<h3>Post Id: <%= @post.id %></h3>
<%= @post.user_id %>
<%= @post.user.username %>
<%= @post.content %>


<ul>
  <%= 'No Comments yet' if @post.comments.empty? %>

  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.text %> by:
      <%= comment.user.username %>
      <%= comment.created_at.localtime.strftime("%B %d, %Y %I:%M:%S %p") %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to posts', posts_path %>
<% if @post.user.id == @current_user.id %>
<%# link_to 'Delete post', @post, method: 'delete', local: true %>
<% end %>
<%= link_to "this post", post_path(@post) %>


<br>
<%# @post.id %>
<br>
<%# @post.user.id %>
<div>
  <h3>Add a comment</h3>
  <%= form_with(model: Comment.new, local: true) do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= hidden_field_tag :user_id, @post.user_id %>
    <%= f.label :text %>
    <br>
    <%= f.text_field :text %>
    <br>

    <%= f.submit %>
  <% end %>
</div>
